.ProductCard {

    &__button {
        padding-bottom: 20px;
    }

    &__card {
        border: 1px solid black;
        margin-bottom: 20px;
        
        &--sold {
           opacity: 0.3;
        }

        &--soldText {
            position: absolute;
            font-weight: bold;
            font-size: 40px;
            color: red;
            top: 25%;
            right: 32%;
        }
    }

    .hidden {
        display: none;
    }
}